In [1]:
import flask
import pandas as pd
import requests
import gunicorn

In [16]:
url1 = 'http://localhost:5000/data/get/books_c.csv'
catalogue = requests.get(url1)
catalogues = pd.DataFrame(catalogue.json())
catalogues.head(3)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,0439554934,9780439554930,eng,320,5629932,70390

In [24]:
r = pd.crosstab(index=catalogues['title'], columns="count")
r[r['count'] > 1]

col_0                                               count
title
'Salem's Lot                                           11
1776                                                    2
1984                                                    3
20 000 Leagues Under the Sea                            2
3rd Degree (Women's Murder Club  #3)                    2
...                                                   ...
Wuthering Heights                                       3
Zen and the Art of Motorcycle Maintenance: An I...      2
Zodiac                                                  2
Zorro                                                   2
¿Quién te lo ha contado?                                2

[766 rows x 1 columns]

In [36]:
catalogues['language_code'].unique()

array(['eng', 'en-US', 'spa', 'fre', 'en-GB', 'mul', 'ger', 'ara', 'por',
       'grc', 'en-CA', 'enm', 'jpn', 'dan', 'zho', 'nl', 'ita', 'lat',
       'srp', 'rus', 'tur', 'msa', 'swe', 'glg', 'cat', 'wel', 'heb',
       'nor', 'gla', 'ale'], dtype=object)

In [29]:
url2 = 'http://localhost:5000/data/get/equal/books_c.csv/title/1984'
r = requests.get(url2)
r_pd2 = pd.DataFrame(r.json())
r_pd2

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
1867,5475,1984,George Orwell-Walter Cronkite-Erich Fromm,4.17,0451519841,9780451519849,eng,268,1915,233
1868,5477,1984,George Orwell-Erich Fromm,4.17,0451516753,9780451516756,eng,268,1283,124
6385,19100,1984,George Orwell-Mauricio Molina-Miguel Martínez ...,4.17,9685270880,9789685270885,spa,301,437,40

In [35]:
average_total = round(catalogues.average_rating.mean(),3)
above_average = catalogues[catalogues['average_rating'] >= average_total]
above_average.sort_values(by='average_rating', ascending = False).head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
7434,23276,Taxation of Mineral Rents,Ross Garnaut,5.0,0198284543,9780198284543,eng,350,1,0
7506,23552,The New Big Book of America,Todd Davis-Marc Frey,5.0,0762412631,9780762412631,eng,56,2,1
6745,20683,The Goon Show Volume 5: And There's More Wher...,NOT A BOOK,5.0,0563389265,9780563389262,eng,2,0,0
11674,39580,The American Campaign: U.S. Presidential Campa...,James E. Campbell,5.0,089096940X,9780890969403,eng,314,0,0
11542,38804,The Irish Anatomist: A Study of Flann O'Brien,Keith Donohue,5.0,1930901356,9781930901353,eng,222,1,0

In [41]:
english = catalogues[(catalogues['language_code'] == "eng") | (catalogues['language_code'] == "en-US") |  
                             (catalogues['language_code'] == "en-CA")]
english.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [43]:
nonenglish = catalogues[(catalogues['language_code'] != "eng") & (catalogues['language_code'] != "en-US") &  
                             (catalogues['language_code'] != "en-CA")]
nonenglish.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
114,201,Una arruga en el tiempo – A Wrinkle in Time,Madeleine L'Engle,4.01,0606105263,9780606105262,spa,205,6,1
138,283,L'Amant de la Chine du Nord,Marguerite Duras,3.89,2070388093,9782070388097,fre,246,312,23
154,324,Cien años de soledad,Gabriel García Márquez,4.06,0785950109,9780785950103,spa,448,54,6
155,325,Cien años de soledad,Gabriel García Márquez,4.06,8423919005,9788423919000,spa,456,73,8
159,337,El perfume: Historia de un asesino,Patrick Süskind,4.02,8432216062,9788432216060,spa,239,3956,242